
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>
<br />
<p>Başlıklarda arama kutucuğu</p>
<p>Yazar Görselleri Düzenlenecek</p>
<p>Grafikler</p>
<p>Vitrin Teması</p>
<p>Gelen kutusunda Arama</p>
<p>Yetkilendirmeler</p>
<p>Hata Sayfası Leyouttan Ayrılacak</p>
<p>Sözlük ve Vitrin Ayrılacak</p>
<p>Herhangi bir tablo raporlanacak</p>
<p>Proje Dosyaları Sunucuya Taşınacak</p>
<p>Alan Adı Alanacak</p>
<p>Proje Canlıya Taşınacak</p>

